@media (min-width: 767px) {
  .cancelBtn{
    margin-left: 20px !important;
  }
  .hafirot{
    font-size: 20px;
    width: 50vw
  }
}
@media (max-width: 767px) {
  .seperator{
    display: none;
    visibility: hidden;
  }
  .centerBoxPos{
    height: 100%;
    width: 100%;
  }
  .boxWidth{
    width: 100%
  }
  .yardContainer{
   flex-direction: column !important;
    display: block !important;
  }
  .containerCarousel{
    width: 70vw !important;
  }
  .btn-circSquare{
    height: 30px;
    width: 100px;
  }
  .btn-circSquare.myColor{
    margin-bottom: 15%;
  }
  .YardBG{
    height: 100%;
  }
  .btnSize{
    height: 10vw !important;
    width: 60vw !important;
    /*display: block;*/
    vertical-align: middle;
    line-height: 10px; /* <-- adjust this */
    font-size: 8px;
  }
  .cancelBtn{
    margin-left: 0px !important;
  }
  .btnBox{
    display: block !important;
  }
  .hafirot{
    font-size: 15px;
    width: 80vw;
    justify-content: center;
    justify-items: center;
  }
}

@media (max-width: 400px) {
  .topSpaceForm{
    margin-top: 10vh;
  }
  .yardContainer{
    flex-direction: column !important;
    display: block;
  }
  .btnSize{
    height: 7vw;
    width: 55vw !important;
    display: block;
    vertical-align: middle;
    line-height: 30px; /* <-- adjust this */
  }
  .cancelBtn{
    margin-left: 0px !important;
  }
}

