@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Palanquin+Dark&display=swap&family=Karantina&family=Rubik:ital,wght@1,900&display=swap');

html, body {
  font-family: 'Palanquin Dark', sans-serif;
}
#app {
  font-family: 'Palanquin Dark', sans-serif;
}
/*this class is responsible on centering horizontal and vertical his children with Flexbox*/
.page{
  display: flex;
  flex-wrap: wrap;
  /*put the children elements in the horizontal center of the screen*/
  justify-content: center;
  /*put the children elements in the vertical center of the screen*/
  align-items: center;
  background: #F8F8FF;
  height: 100vh;
}
.centerBoxPos{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.colorBox{
  box-shadow: 7px 5px 5px rgb(140 140 140);
  background: #FFFAF0;
}
.topSpaceForm{
  margin-top: 5vh;
}
.boxWidth{
  width: 25%
}
.seperator{
  display: inline-grid;
}
