@import url('https://fonts.googleapis.com/css2?family=Karantina&family=Rubik:ital,wght@1,900&display=swap');

.btnAction{
  background:linear-gradient(to right,#c01039,#dc1223 67%,#de1e1e 84%,#e02a19);
  margin-bottom: 3vh;
}

.btn-circSquare {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  /*moz-transition: all .4s ease-in-out;*/
  /*-o-transition: all .4s ease-in-out;*/
  /*-webkit-transition: all .4s ease-in-out;*/
  /*transition: all .4s ease-in-out;*/
}

.btn-circSquare:hover {
  background-position: 100% 0;
  /*moz-transition: all .4s ease-in-out;*/
  /*-o-transition: all .4s ease-in-out;*/
  /*-webkit-transition: all .4s ease-in-out;*/
  /*transition: all .4s ease-in-out;*/
}

.btn-circSquare:focus {
  outline: none;
}

.btn-circSquare.myColor {
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(to right,#c01039,#dc1223 67%,#de1e1e 84%,#e02a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.btnSquare {
  font-size: 20px;
  /*background:linear-gradient(to right,#c01039,#dc1223 67%,#de1e1e 84%,#e02a19);*/
  color: white;
  border: none;
  padding: 0px 12px;
  margin-bottom: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.oppositeColor{
  color: #c01039;
  border: 1px solid #c01039;
  /*box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);*/
}

myColor{
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
  background: linear-gradient(to right,#c01039,#dc1223 67%,#de1e1e 84%,#e02a19) !important;
}
.btnSize{
  height: 3vw;
  display: inline-block;
  vertical-align: middle;
  line-height: 18px; /* <-- adjust this */
}










